name: Build TPM + FDE VM

on:
  workflow_dispatch:
jobs:
  build-vm:
    runs-on: ubuntu-latest
    timeout-minutes: 90

    steps:
      - name: Install QEMU + swtpm
        run: |
          sudo apt update
          sudo apt install -y \
            qemu-system-x86 \
            qemu-utils \
            swtpm \
            ovmf \
            xz-utils

      - name: Get boot image
        run: |
          curl https://cdimage.ubuntu.com/daily-live/current/resolute-desktop-amd64.iso -o boot.img

      - name: Generate SSH key
        run: |
          ssh-keygen -t ed25519 -f my_ssh_key -N ""

      - name: Create VM image
        mkdir -p ovmf
        curl https://github.com/canonical/hardware-installer-testing/raw/refs/heads/main/ovmf/OVMF_VARS_4M.ms.fd -o ovmf/OVMF_VARS_4M_vm.ms.fd
        curl https://github.com/canonical/hardware-installer-testing/raw/refs/heads/main/ovmf/OVMF_CODE_4M.ms.fd -o ovmf/OVMF_CODE_4M.ms.fd

        mkdir -p swtpm



