name: Integration Test

on:
  workflow_call:

jobs:
  snapd_integration_test:
    strategy:
      matrix:
        os: ["ubuntu-24.04", "ubuntu-22.04"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: install python dependencies
        run: |
          sudo apt-get update

          python3 -m pip install --user pipx
          python3 -m pipx ensurepath
          pipx install poetry==2.3.1
          poetry config virtualenvs.in-project true  # so sudo can find the venv
          poetry install
      - name: snapd setup
        run: |
          sudo apt-get install -y snapd
          sudo systemctl start snapd.service
          # There is currently a bug where the deb version conflicts with the edge version, causing the deb to be prioritized.
          # https://github.com/canonical/prompting-client/pull/283
          # The workaround is to rebuild the snap with a higher version.
          # sudo snap install snapd --edge
          snap download snapd --channel=latest/edge
          sudo unsquashfs snapd_*.snap
          sudo sed -Ei "s/^version: *'?([^' ]*)'?$/version: '1337.\1'/" squashfs-root/meta/snap.yaml squashfs-root/snap/manifest.yaml
          sudo sed -i "s/^VERSION=/VERSION=1337./" squashfs-root/usr/lib/snapd/info
          sudo snap pack squashfs-root
          sudo snap install --dangerous snapd_1337.*.snap
          sudo snap set system experimental.user-daemons=true
          sudo systemctl restart snapd
          sudo snap version
      - name: LXD setup
        uses: canonical/setup-lxd@main
      - name: build test_snap
        run: |
          sudo snap install snapcraft --classic
          cd tests/integration/test_snap
          snapcraft pack
          snap download hello-world --basename=hello-world
          cd $GITHUB_WORKSPACE
      - name: integration test
        run: |
          # access to the snapd socket requires root privileges
          sudo "$(which poetry)" run pytest tests/integration
